html,
body {

    margin: 100px;
    background-color: rgb(230, 215, 255);
}



#canvasContainer {
    position: absolute;
    left: 33%;
}


.page h1 {
    font-size: 90px;
    color: rgb(217, 10, 134);
    font-family: 'Sevillana', cursive;
    margin-left: 15%;
}

.page h2 {
    color: rgb(5, 118, 80);
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: 40%;
}

.content {
    color: rgb(142, 9, 115);
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}